.vscode
node_modules
api.json
/git2gpt
/git2gpt
git2gpt/The following text is a Git repository w.js
/context
context/kroger_context_v3_csv
context/Kroger_Context1.csv
context/Kroger_Context2.txt
context/Kroger_Context3.txt
context/Kroger_Context4.txt
context/Kroger_Context5.txt
context/Kroger_Context6.txt
